<div class="addquota" [ngClass]="fadeFlag">
    <div class="addquota_main">
        <span class="addquota_close" (click)="close()"><i class="fa fa-remove"></i></span>
        <div class="addquota_t1">{{'addQuota.addQuotaTitle' | translate}}</div>
    
        <div class="addquota_t2">{{'addQuota.address' | translate}}</div>
        <input type="text" class="addquota_t3" />
    
        <div class="addquota_t2">{{'addQuota.amount' | translate}}</div>
        <input type="text" class="addquota_t3" />
    
        <div class="addquota_t2">{{'addQuota.sellingPeriod' | translate}}</div>
        <input type="text" class="addquota_t3" />
    
        <div class="addquota_t2">{{'addQuota.buyingPeriod' | translate}}</div>
        <input type="text" class="addquota_t3" />
    
        <div class="addquota_t4">
            <div>{{'addQuota.ok' | translate}}</div>
        </div>
    </div>
</div>
<div class="mask" (click)="close()"></div>
