.select-box{
    // float: right;
    width: 100%;
    padding: 0 10px;
    border-radius: 4px;
    border: 1px solid #d9d9d9;
    position: relative;
    cursor: pointer;
    // font-size: 16px;
    .sanjiao_xia{
        float: right;
        color: #9c9393;
        // margin-top: 2px;
    }
    .placeholder{
        // color: #ff0;
    }
    .up{
        margin-top: -2px;
    }
    .down-box{
        position: absolute;
        top: 50px;
        left: -1px;
        z-index: 2;
        width: calc(100% + 2px);
        background-color: inherit;
        font-size: 12px;
        border-radius: 2px;
        background-color: #fff;
        box-shadow: 0 2px 8px rgba(0,0,0,.15);
        border-radius: 4px;
        p{
            margin: 0;
            text-align: left;
            cursor: pointer;
            font-size: 14px;
            color: rgba(0,0,0,.65);
            text-indent: 10px;
            font-weight: 400;
        }
        p:hover{
            background: #d3f2fd;
        }
    }
}
  .down {
    // transform-origin: center center;
    animation: Down 200ms linear;
  }
  
  .up {
    // transform-origin: center center;
    animation: Up 200ms linear;
  }
  
  @keyframes Down {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0deg);
    }
  }
  
  @keyframes Up {
    from {
        -webkit-transform: rotate(180deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
  }