<div class='user-info content'>
  <header>Personal info</header>
  <div class='user-info-title'>
    <span class='user-label'>eMail:</span> <b>onersword@gmail.com </b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <span class='user-label'>Account:</span> <b>onersword</b>
  </div>
  <section class='user-info-section border-box'>
    <div class='user-info-section-header qcfd'>
      <span class=''>KYC info</span>
      <div class='user-info-section-header-btn f-cursor' (click)='goRoult()'>KYC in progress</div>
    </div>
    <div class='user-info-section-sec'>
      <p><span class='user-label'>Name:</span> <b>Tom Liu</b></p>
      <p><span class='user-label'>Country of Citizenship:</span> <b>China</b></p>
    </div>
    <div class='user-info-section-sec'>
        <p><span class='user-label'>ID:</span> <b>3612***7777</b></p>
        <p><span class='user-label'>Investor Level:</span> <b>3612***7777</b></p>
      </div>
  </section>
</div>