.drak{
    /deep/ .white-color{
        color: #666;
    }
    /deep/ .main-color{
        color: #666;
    }
    /deep/ .white-color2{
        color: #888;
    }
    /deep/ .btn-blue{
        color: #666;
        background: #82c901;
    }
    /deep/ .unlock-metamask-color{
		color: #fff;
    }
    /deep/ .unlock-metamask-bg{
        background: #222E5D;
    }
    // 设置
    /deep/ .setUp-font1{
        color: #AAB2C0;
    }
    /deep/ .setUp-color{
        background-color: #0C2330;
        border-color: #60698D !important;
    }
    /deep/ .btn{
        background-color: #00CEFF;
        color: #fff;
    }
    /deep/ .hover_bgColor{
        border-color: #60698D !important;
        p:hover{
            background-color: #222E5D;
        }
    }
}

.light{
    /deep/ .main-color{
        color: #fff;
    }
    /deep/ .font-color{
        color: #fff;
    }
    /deep/ .font-color2{
        color: #888;
    }

    /deep/ .font-color3{
        color: #004ff9;
    }
    /deep/ .font-color4{
        color: #e00001;
    }
    /deep/ .font-color5{
        color: #82c901;
    }
    /deep/ .font-color6{
        color: #000000;
    }

    /deep/ .white-back{
        background: #fff;
    }
    /deep/ .white-back2{
        background: #fcfcfc;
    }
    /deep/ .black-back{
        background: #666666;
    }


    /deep/ .btn-blue{
        color: #fff;
        background: #004ff9;
    }
    /deep/ .font-blue{
        color: #004ff9;
    }

    /deep/ .passed_color{
        background: #004ff9;
    }
    /deep/ .failed_color{
        background: #e00001;
    }
    /deep/ .issue_color{
        background: #82c901;
    }

    /deep/ .unlock-metamask-color{
        color: #60698D;
    }
    /deep/ .unlock-metamask-bg{
		background: #fff;
    }
    // 设置
    /deep/ .setUp-font1{
        color: #60698D;
    }
    /deep/ .setUp-color{
        background-color: #E8E9EA;
        border-color: #AAB2C0 !important;
    }
    /deep/ .btn{
        background-color: #00CEFF;
        color: #fff;
    }
    /deep/ .hover_bgColor{
        border-color: #AAB2C0 !important;
        p:hover{
            background-color: #DBDDDE;
        }
    }

    /deep/ .btn-border{
        border: 1px solid #efecf7;
    }
    
    /deep/ .btn-border:hover{
        color: #004ff9;
        // border-color: #004ff9;
        border:1px solid #004ff9
    }

    /deep/ .transition{
        opacity: 0;
        transition: all .3s;
        -webkit-transition: all .3s;
    }
}