<div class="select-box noselect bor" tabIndex="1" [ngStyle]="{'line-height': height+'px','height':height+'px'}" (focus)="dis = true" (blur)='dis = false'>
    <span *ngIf="setLang">{{setLang}}</span>
    <span class='placeholder' *ngIf="!setLang" [ngStyle]="{'color': placeholderColor}">{{placeholder}}</span>
    <i class='iconfont sanjiao_xia down' *ngIf="!dis">&#xe600;</i>
    <i class='iconfont sanjiao_xia april-up up' *ngIf="dis">&#xe6bd;</i>
    <div class="down-box hover_bgColor april-select" *ngIf="dis" [ngStyle]="{'top': height+6+'px'}" >
        <p *ngFor="let item of list" [ngStyle]="{'background': item.val == this.defaultSet ? '#fafafa': ''}" (click)="sel(item.val,event)" >{{item.name}}</p>
    </div>
</div>