<div class="custom">
    <div class="custom_head">
        Custom STO
    </div>
    <div class="custom_main">
        <div class="main_left">
            <div class="custom_row">
                <div class="custom_row_head">Starting time</div>
                <div class="custom_row_main">
                    <input type="date" class="custom_row_put custom_row_put1" />
                    <input type="time" class="custom_row_put custom_row_put2" />
                </div>
            </div>
            <div class="custom_row">
                <div class="custom_row_head">Acceptance currency</div>
                <div class="custom_row_main">
                    <input type="text" class="custom_row_put" placeholder="ETH" />
                </div>
            </div>
            <div class="custom_row">
                <div class="custom_row_head">Receive ETH wallet address</div>
                <div class="custom_row_main">
                    <input type="text" class="custom_row_put" placeholder="ETH" />
                </div>
            </div>
            <div class="custom_row2 btn-blue">
                <div class="submut" (click)="submit()">Setup STO contract</div>
            </div>
        </div>
        <div class="main_right">
            <div class="custom_row">
                <div class="custom_row_head">End time</div>
                <div class="custom_row_main">
                    <input type="date" class="custom_row_put custom_row_put1" />
                    <input type="time" class="custom_row_put custom_row_put2" />
                </div>
            </div>
            <div class="custom_row">
                <div class="custom_row_head">STO Cap</div>
                <div class="custom_row_main">
                    <input type="text" class="custom_row_put" placeholder="ETH" />
                </div>
            </div>
        </div>
    </div>

</div>