.custom{
    width: 1000px;
    margin:  20px auto;
    .custom_head{
        font-size: 30px;
        font-weight: bolder;
    }
    .custom_main{
        border: 2px solid #dfdfdf;
        border-radius: 10px;
        background: #fdfdfd;
        width: 90%;
        padding: 10px 5%;
        margin-top: 20px;
        display: flex;
    }
    .main_left{
        flex: 1;
        margin-right: 15px;
    }
    .main_right{
        flex: 1;
        margin-left: 15px;
    }

    .custom_row{
        font-size: 12px;
        margin-top: 20px;
        .custom_row_head{
            padding: 10px 0;
            font-weight: bolder;
        }
        .custom_row_main{
            display: flex;
            
            .custom_row_put{
                flex: 1;
                padding: 10px 0;
                border-radius: 5px;
                border: 1px solid #e8e5e5;
                padding-left: 15px;
            }
            .custom_row_put1{
                margin-right: 10px;
                text-align: center;
            }
            .custom_row_put2{
                margin-left: 10px;
                text-align: center;
            }
        }
    }
    .custom_row2{
        display: inline-block;
        margin: 80px 0 40px 0;
        padding: 0 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 40px;
        background: #004ff9;
        cursor: pointer;
    }
}