<div class="mainBack">
    <div class="main">
        <div class="table">
            <div class="table_cell">
                <div class="table_p1">ZUESTO</div>
                <div class="table_p2">STO integrated platform integrating distribution,</div>  
                <div>review and transaction</div>
                <div class="table_d">
                    <div class="table_btn1" (click)="login('publisher')">
                        I want to issue ST
                    </div>
                    <div class="table_btn1" (click)="login('investor')">
                        I want to invest in ST
                    </div>
                </div>
            </div>
        </div>
        <div class="main_foot"> 
            <b>ONEROOT</b>
            2018 All rights reserved
        </div>
    </div>
</div>
