/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'iconfont';  /* project id 940078 */
    src: url('//at.alicdn.com/t/font_940078_wli138ish7o.eot');
    src: url('//at.alicdn.com/t/font_940078_wli138ish7o.eot?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_940078_wli138ish7o.woff') format('woff'),
    url('//at.alicdn.com/t/font_940078_wli138ish7o.ttf') format('truetype'),
    url('//at.alicdn.com/t/font_940078_wli138ish7o.svg#iconfont') format('svg');
  }

.confirm-btn{
    background: rgb(47, 129, 255);
}